node_modules
package-lock.json
/.wpt.yml
/build
.DS_Store
/dist
/languages/wcsdm.pot
/assets/js/wcsdm.min.js
/assets/css/wcsdm.min.css

assets/css/wcsdm-backend\.min\.css

assets/css/wcsdm-frontend\.min\.css

assets/js/wcsdm-backend\.min\.js

assets/js/wcsdm-frontend\.min\.js

assets/css/wcsdm-backend\.css

assets/css/wcsdm-frontend\.css

assets/js/wcsdm-backend\.js

assets/js/wcsdm-frontend\.js
