sudo: false
dist: trusty

language: php

notifications:
  email:
    on_success: never
    on_failure: always

branches:
  only:
    - master

matrix:
  include:
    - php: 7.4
      env: WP_VERSION=6.4

install:
  - composer install

script:
  - composer run-phpcs
