/*
* http://chir.ag/projects/name-that-color/
*/

$white: #ffffff;
$black: #000000;
$anakiwa: #afceff;
$lemon-chiffon: #fffec4;
$rice-flower: #e6ffdb;
$punch: #dc3232;
$seashell: #f1f1f1;
$alabaster: #f8f8f8;
$alto: #dddddd;
$double-pearl-lusta: #fcf7d4;
$energy-yellow: #f5df52;
$iron: #ccd0d4;
$lochmara: #007CBA;
