.wcsdm {

  &-col {
    padding: 10px 5px;

    &--type--action_link,
    &--type--row_number,
    &--type--select_item {
      width: 40px !important;
    }
  }

  &-input-action {
    margin: 6px 0 !important;
    padding: 9px 10px 3px !important;
  }

}