.wcsdm {
    &-no-padding {
        padding: 0 !important;
    }
    &-settings-form-title {
        text-align: center;
        padding: 0.7em !important;
        margin: 0 !important;
        background-color: #fff;
    }
    &-settings-sub-title {
        font-size: 1em;
        padding: 0.5em 1em;
        margin: 0;
        background-color: #f1f1f1;
    }
    &-table-dummy {
        .wcsdm-col {
            padding: 10px !important;
            &--select-item {
                width: 50px;
                text-align: center;
                input[type=checkbox] {
                    margin: 0;
                    padding: 0;
                }
            }
            &--link_duplicate,
            &--link_advanced {
                width: 70px;
                text-align: center;
                a {
                    text-decoration: none;
                }
            }
        }
        thead {
            .wcsdm-col {
                background-color: #f1f1f1;
                &+.wcsdm-col {
                    border-left: 1px solid #fff;
                }
            }
        }
        tbody {
            .wcsdm-col {
                background-color: #fff;
                border-bottom: 1px solid #f1f1f1;
                &+.wcsdm-col {
                    border-left: 1px solid #f1f1f1;
                }
                &:first-child {
                    border-left: 1px solid #f1f1f1;
                }
                &:last-child {
                    border-right: 1px solid #f1f1f1;
                }
            }
            .selected {
                .wcsdm-col {
                    background-color: #fffddb;
                }
            }
            .applied {
                .wcsdm-col {
                    background-color: #d7fbd5;
                }
            }
            .new {
                .wcsdm-col {
                    background-color: #d7fbd5;
                }
            }
            .modified {
                .wcsdm-col {
                    background-color: #d7fbd5;
                }
            }
            .deleted {
                .wcsdm-col {
                    background-color: #ffe6e6;
                }
            }
            .hidden {
                display: none;
            }
        }
    }
    &-rate-field {
		&-errors{
			margin-bottom: 2em;
		}
        &--error {
            border: 1px solid #dc3232 !important;
            background-color:rgba(255, 85, 85, 0.192) !important;
        }
        &--dummy:not(a) {
            display: block;
            width: 100% !important;
            min-width: 150px !important;
        }
    }
    &-row-advanced {
        display: none;
    }
    &-buttons {
        &-item {
            &--left {
                float: left;
            }
            .dashicons {
                margin-top: 5px;
                &:before {
                    font-size: 1em;
                }
            }
        }
	}
}

// .wcsdm-map-wrapper {
//     display: none;
//     position: relative;
//     width: 100%;
//     padding-right: 10px;
//     margin-bottom: 15px;
//     .controls {
//         margin-top: 10px;
//         border: 1px solid transparent;
//         border-radius: 2px 0 0 2px;
//         box-sizing: border-box;
//         height: 32px;
//         outline: none;
//         box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
//     }
//     .wcsdm-map-canvas {
//         position: relative;
//         height: 340px;
//     }
//     .wcsdm-map-search {
//         position: relative;
//         background-color: #fff;
//         font-size: 13px;
//         font-weight: 300;
//         margin-left: 12px;
//         padding: 0 11px 0 13px;
//         text-overflow: ellipsis;
//         width: 600px;
//         max-width: 100%;
//         margin-top: 10px !important;
//         &:focus {
//             border-color: #4d90fe;
//         }
//     }
// }
// #wcsdm-map-error {
//     display: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     margin-bottom: 15px;
//     &.notice {
//         margin-left: 0;
//     }
// }
// #wcsdm-map-spinner {
//     visibility: visible;
// }
// #wcsdm-lat-lng-wrap {
//     display: none;
//     width: 100%;
//     padding-right: 10px;
//     div {
//         width: 50%;
//         &:first-child {
//             float: left;
//             padding-right: 10px;
//         }
//         &:last-child {
//             margin-left: 50%;
//             padding-left: 10px;
//         }
//         label {
//             display: block;
//         }
//         input {
//             display: block;
//             width: 100%;
//         }
//     }
//     @media only screen and (max-width: 1070px) {
//         div {
//             width: 100%;
//             &:first-child {
//                 float: none;
//                 padding-right: 0;
//             }
//             &:last-child {
//                 margin-left: 0;
//                 padding-left: 0;
//             }
//         }
//     }
// }
// .pac-container {
//     z-index: 999999 !important;
//     #type-selector {
//         color: #fff;
//         background-color: #4d90fe;
//         padding: 5px 11px 0px 11px;
//     }
//     #type-selector label {
//         font-size: 13px;
//         font-weight: 300;
//     }
//     #target {
//         width: 345px;
//     }
// }
// .wcsdm-table-row {
//     .wcsdm-table-col {
//         padding: 0 !important;
//     }
//     &.wcsdm-table-row-advanced {
//         display: none;
//     }
//     .wcsdm-table {
//         * {
//             box-sizing: border-box;
//         }
//         input[type="text"],
//         input[type="number"] {
//             min-width: 60px !important;
//             max-width: 100% !important;
//             border: 1px solid #ddd !important;
//             box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
//             background-color: #fff;
//             color: #32373c;
//             outline: 0;
//             transition: 50ms border-color ease-in-out;
//             height: 34px;
//             line-height: 34px !important;
//             &:read-only {
//                 cursor: not-allowed;
//             }
//         }
//         .full-width-col {
//             background: #f1f1f1;
//         }
//         .select {
//             min-width: 130px !important;
//             height: 36px !important;
//             line-height: 36px !important;
//         }
//         .button {
//             float: none !important;
//         }
//         .button-no-rates {
//             font-size: 2em;
//             padding: 10px 50px;
//             height: auto;
//         }
//         &.wcsdm-table-rates {
//             .col-centered {
//                 text-align: center;
//             }
//             .col-checkbox {
//                 padding: 0;
//                 width: 136px;
//                 text-align: center;
//                 div {
//                     padding: 8px 8px !important;
//                     text-align: center !important;
//                 }
//                 input {
//                     margin: 0 !important;
//                     padding: 0 !important;
//                 }
//             }
//             .col-free {
//                 padding: 0;
//                 width: 132px;
//                 text-align: center;
//             }
//             .col-advanced {
//                 padding: 0;
//                 width: 112px;
//                 text-align: center;
//             }
//             tbody {
//                 tr {
//                     td,
//                     th {
//                         background-color: #ffffff;
//                         transition: background-color 500ms ease-out;
//                     }
//                 }
//                 tr.selected {
//                     td,
//                     th {
//                         background-color: #fefbcc;
//                     }
//                 }
//                 tr.applied {
//                     td,
//                     th {
//                         background-color: #ccf9ff !important;
//                         .advanced-rate-settings {
//                             display: none;
//                         }
//                     }
//                 }
//                 tr.changed.sorting {
//                     td,
//                     th {
//                         background-color: #d2ffd4 !important;
//                     }
//                 }
//                 td {
//                     text-align: center;
//                 }
//                 input[type="text"],
//                 input[type="number"] {
//                     width: 100% !important;
//                 }
//                 .select {
//                     width: 100% !important;
//                 }
//                 .field-groups {
//                     margin: 0;
//                     box-sizing: border-box;
//                     * {
//                         margin: 0;
//                         box-sizing: border-box;
//                     }
//                     .field-group-item {
//                         float: left;
//                         &.field-group-item-input {
//                             width: 100%;
//                         }
//                         &.field-group-item-units {
//                             width: 46px;
//                             text-align: center;
//                             line-height: 32px;
//                             background: #eee;
//                             border: 1px solid #ddd;
//                         }
//                         &.field-group-item-icon {
//                             width: 30px;
//                             text-align: center;
//                             padding-top: 7px;
//                         }
//                     }
//                     &[class*="has-"] {
//                         .field-group-item-input {
//                             width: calc(100% - 76px);
//                         }
//                     }
//                     &.has-units:not(.has-icon) {
//                         .field-group-item-input {
//                             width: calc(100% - 46px);
//                         }
//                     }
//                     &.has-icon:not(.has-units) {
//                         .field-group-item-input {
//                             width: calc(100% - 30px);
//                         }
//                     }
//                     &:after {
//                         content: "";
//                         display: block;
//                         clear: both;
//                     }
//                 }
//             }
//             .free-shipping- {
//                 &no:before {
//                     content: "\f158";
//                     color: #c4c4c4;
//                     font-weight: 700;
//                 }
//                 &yes:before {
//                     content: "\f147";
//                     color: #52bd54;
//                     font-weight: 700;
//                     font-weight: 700;
//                 }
//                 &yes_alt:before {
//                     content: "\f503";
//                     color: #52bd54;
//                     font-weight: 700;
//                     font-weight: 700;
//                 }
//             }
//         }
//     }
// }
// #wcsdm-table-row-advanced {
// 	.full-width-col{
// 		padding: 0;
// 	}
//     .form-table {
//         margin-bottom: 0;
//     }
//     .wc-settings-sub-title {
//         padding: 0.7em 1em;
//         margin: 0;
//         font-size: 1.1em;
//         background: #f1f1f1;
//         &:before {
//             content: "\00BB";
//             margin-right: 5px;
//         }
//     }
// }
// [class^="tooltip"] {
//     position: relative;
//     &:before {
//         opacity: 0;
//         visibility: hidden;
//         position: absolute;
//         content: attr(data-tooltip);
//         padding: 6px 10px;
//         bottom: 1.4em;
//         left: 50%;
//         transform: translateX(-50%) translateY(-2px);
//         background: grey;
//         color: white;
//         z-index: 2;
//         border-radius: 2px;
//         width: 200px;
//     }
//     &:hover {
//         &:before {
//             display: block;
//             opacity: 1;
//             visibility: visible;
//             transform: translateX(-50%) translateY(0);
//         }
//     }
//     &:after {
//         content: "\f223";
//         display: inline;
//         font-size: 16px;
//         line-height: 1;
//         font-family: dashicons;
//         text-decoration: inherit;
//         font-weight: 400;
//         font-style: normal;
//         vertical-align: top;
//         text-align: center;
//         transition: color .1s ease-in 0;
//     }
// }
