/* Begin Import */

@import 'color';
/* End Import */

/* Begin Stylings */

.wcsdm {
    &-no-padding {
        padding: 0 !important;
    }
    &-settings-form-title {
        text-align: center;
        padding: 0.7em !important;
        margin: 0 !important;
        background-color: $white;
    }
    &-settings-sub-title {
        font-size: 1em;
        padding: 0.5em 1em;
        margin: 0;
        background-color: $alabaster;
    }
    &-buttons {
        &-item {
            &--left {
                float: left;
            }
            .dashicons {
                margin-top: 5px;
                &:before {
                    font-size: 1em;
                }
            }
        }
    }
    &-errors {
        margin-bottom: 2em;
        &--heading {
            font-weight: 700;
            font-size: 1.2em;
            border-bottom: 1px solid $alto;
            margin-bottom: 8px;
            padding-bottom: 8px;
        }
    }
    &-table-dummy {
        .wcsdm-col {
            padding: 10px !important;
            &--select-item {
                width: 50px;
                text-align: center;
                input[type=checkbox] {
                    margin: 0;
                    padding: 0;
                }
            }
            &--link_advanced {
                width: 100px;
                text-align: center;
                a {
                    text-decoration: none;
                }
            }
        }
        thead {
            .wcsdm-col {
                background-color: $seashell;
                &+.wcsdm-col {
                    border-left: 1px solid $white;
                }
            }
        }
        tbody {
            tr {
                .wcsdm-col {
                    background-color: $white;
                    border-bottom: 1px solid $alabaster;
                    &+.wcsdm-col {
                        border-left: 1px solid $alabaster;
                    }
                    &:first-child {
                        border-left: 1px solid $alabaster;
                    }
                    &:last-child {
                        border-right: 1px solid $alabaster;
                    }
                    &.hidden {
                        display: none;
                    }
                }
                &.selected {
                    .wcsdm-col {
                        background-color: rgba($anakiwa, .5);
                    }
                }
                &.highlighted {
                    .wcsdm-col {
                        background-color: rgba($rice-flower, .5);
                    }
                }
                &.deleted {
                    .wcsdm-col {
                        background-color: rgba($lemon-chiffon, .5);
                    }
                }
            }
        }
    }
    &-field {
        &--rate {
            &--error {
                border: 1px solid $punch !important;
                background-color: rgba($punch, .1) !important;
            }
            &--dummy:not(a) {
                display: block;
                width: 100% !important;
                min-width: 150px !important;
            }
        }
    }
    &-row-advanced {
        display: none;
    }
}

/* End Stylings */
