.wcsdm-map-wrapper {
    display: none;
    position: relative;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 15px;
    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    .wcsdm-map-canvas {
        position: relative;
        height: 340px;
    }
    .wcsdm-map-search {
        position: relative;
        background-color: #fff;
        font-size: 13px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 600px;
        max-width: 100%;
        margin-top: 10px !important;
        &:focus {
            border-color: #4d90fe;
        }
    }
}

#wcsdm-map-error {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    &.notice {
        margin-left: 0;
    }
}

#wcsdm-map-spinner {
    visibility: visible;
}

#wcsdm-lat-lng-wrap {
    display: none;
    width: 100%;
    padding-right: 10px;
    div {
        width: 50%;
        &:first-child {
            float: left;
            padding-right: 10px;
        }
        &:last-child {
            margin-left: 50%;
            padding-left: 10px;
        }
        label {
            display: block;
        }
        input {
            display: block;
            width: 100%;
        }
    }
    @media only screen and (max-width: 1070px) {
        div {
            width: 100%;
            &:first-child {
                float: none;
                padding-right: 0;
            }
            &:last-child {
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}

.pac-container {
    z-index: 999999 !important;
    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }
    #type-selector label {
        font-size: 13px;
        font-weight: 300;
    }
    #target {
        width: 345px;
    }
}

.wcsdm-table-row {
    .wcsdm-table-col {
        padding: 0 !important;
    }
    &.wcsdm-table-row-advanced {
        display: none;
    }
    .wcsdm-table {
        * {
            box-sizing: border-box;
        }
        input[type="text"],
        input[type="number"] {
            min-width: 60px !important;
            max-width: 100% !important;
            border: 1px solid #ddd !important;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
            background-color: #fff;
            color: #32373c;
            outline: 0;
            transition: 50ms border-color ease-in-out;
            height: 34px;
            line-height: 34px !important;
            &:read-only {
                cursor: not-allowed;
            }
        }
        .full-width-col {
            background: #f1f1f1;
        }
        .select {
            min-width: 130px !important;
            height: 36px !important;
            line-height: 36px !important;
        }
        .button {
            float: none !important;
        }
        .button-no-rates {
            font-size: 2em;
            padding: 10px 50px;
            height: auto;
        }
        &.wcsdm-table-rates {
            .col-centered {
                text-align: center;
            }
            .col-checkbox {
                padding: 0;
                width: 136px;
                text-align: center;
                div {
                    padding: 8px 8px !important;
                    text-align: center !important;
                }
                input {
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
            .col-advanced {
                padding: 0;
                width: 112px;
                text-align: center;
            }
            tbody {
                tr {
                    td,
                    th {
                        background-color: #ffffff;
                        transition: background-color 500ms ease-out;
                    }
                }
                tr.selected {
                    td,
                    th {
                        background-color: #fefbcc;
                    }
                }
                tr.applied {
                    td,
                    th {
                        background-color: #ccf9ff !important;
                        .advanced-rate-settings {
                            display: none;
                        }
                    }
                }
                tr.changed.sorting {
                    td,
                    th {
                        background-color: #d2ffd4 !important;
                    }
                }
                td {
                    text-align: center;
                }
                input[type="text"],
                input[type="number"] {
                    width: 100% !important;
                }
                .select {
                    width: 100% !important;
                }
            }
        }
    }
}

[class^="tooltip"] {
    position: relative;
    &:before {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        content: attr(data-tooltip);
        padding: 6px 10px;
        bottom: 1.4em;
        left: 50%;
        transform: translateX(-50%) translateY(-2px);
        background: grey;
        color: white;
        z-index: 2;
        border-radius: 2px;
        width: 200px;
    }
    &:hover {
        &:before {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0);
        }
    }
    &:after {
        content: "\f223";
        display: inline;
        font-size: 16px;
        line-height: 1;
        font-family: dashicons;
        text-decoration: inherit;
        font-weight: 400;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        transition: color .1s ease-in 0;
    }
}
