//
// Variables
// -----------------------------------------

$balloon-bg: fade-out(#111, 0.1) !default;
$balloon-base-size: 10px !default;
$balloon-arrow-height: 6px;

//
// Mixins
// -----------------------------------------

@mixin svg-arrow ($color, $position: up) {
	$degrees: 0;
	$height: 6px;
	$width: 18px;

	@if ($position == down) {
		$degrees: 180 18 6;
	} @else if ($position == left) {
		$degrees: -90 18 18;
		$width: 6px;
		$height: 18px;
	} @else if ($position == right) {
		$degrees: 90 6 6;
		$width: 6px;
		$height: 18px;
	}

	background: no-repeat
		url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%22#{$width * 2}%22%20height%3D%22#{$height * 2}%22%3E%3Cpath%20fill%3D%22#{$color}%22%20transform%3D%22rotate(#{$degrees})%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
	background-size: 100% auto;
	width: $width;
	height: $height;
}

@mixin transition ($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform ($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	transform: $val;
}

@mixin transform-origin ($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	transform-origin: $val;
}

@mixin opacity ($trans) {
	filter: alpha(opacity=($trans * 100));
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
	-moz-opacity: $trans;
	-khtml-opacity: $trans;
	opacity: $trans;
}

@mixin base-effects () {
	@include opacity(0);
	pointer-events: none;
	@include transition(all 0.18s ease-out 0.18s);
}

@mixin no-effects () {
	@include transition(none);
}

@mixin normalized-text() {
	font-family: sans-serif !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-shadow: none !important;
	font-size: $balloon-base-size + 2 !important;
}

#rates-list-table {
	thead th,
	thead td {
		text-align: center;
		font-weight: bold;
	}
	tbody {
		input[type="text"],
		input[type="number"] {
			min-width: 90px !important;
			max-width: 100% !important;
			width: 100% !important;
			border: 1px solid #ddd;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
			background-color: #fff;
			color: #32373c;
			outline: 0;
			transition: 50ms border-color ease-in-out;
			height: 35px;
		}
		.selected {
			td,
			th {
				background-color: #fefbcc;
			}
		}
	}
	.button {
		float: none !important;
	}
	.col-select {
		padding: 8px 16px !important;
		text-align: center !important;
		width: 144px;
		input {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
	.input-group-distance {
		input[type="number"] {
			width: calc(100% - 43px) !important;
		}
		&.metric {
			&:after {
				content: "KM";
				border: 1px solid rgba(221, 221, 221, 0.9);
				background-color: rgba(221, 221, 221, 0.6);
				border-left-width: 0px;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
				padding: 8px 9px;
				height: 28px;
				line-height: 1;
			}
		}
		&.imperial {
			&:after {
				content: "MI";
				border: 1px solid rgba(221, 221, 221, 0.9);
				background-color: rgba(221, 221, 221, 0.6);
				border-left-width: 0px;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
				padding: 8px 9px;
				height: 28px;
				line-height: 1;
			}
		}
	}

	.input-group-price {
		input[type="text"] {
			width: calc(100% - 43px) !important;
		}
		&:before {
			content: "$";
			border: 1px solid rgba(221, 221, 221, 0.9);
			background-color: rgba(221, 221, 221, 0.6);
			border-right-width: 0px;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
			padding: 8px 9px;
			height: 28px;
			line-height: 1;
		}
		&.metric {
			input[type="text"] {
				width: calc(100% - 86px) !important;
			}
			&:after {
				content: " / KM";
				border: 1px solid rgba(221, 221, 221, 0.9);
				background-color: rgba(221, 221, 221, 0.6);
				border-left-width: 0px;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
				padding: 8px 9px;
				height: 28px;
				line-height: 1;
			}
		}
		&.imperial {
			input[type="text"] {
				width: calc(100% - 86px) !important;
			}
			&:after {
				content: " / MI";
				border: 1px solid rgba(221, 221, 221, 0.9);
				background-color: rgba(221, 221, 221, 0.6);
				border-left-width: 0px;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
				padding: 8px 9px;
				height: 28px;
				line-height: 1;
			}
		}
	}
}
