#rates-list-table {
    thead th,
    thead td {
        text-align: center;
        font-weight: bold;
    }
    thead .col-select,
    tbody .col-select {
        padding: 8px 16px !important;
        text-align: center !important;
        input {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    tbody {
        .col-select {
            input {
                &[type=number] {
                    min-width: 180px !important;
                    max-width: 100% !important;
                    width: 100%;
                }
            }
        }
        .selected input[type=number] {
            background-color: #fefbcc;
        }
    }
}