.wcsdm-map-wrapper {
  display: none;
  position: relative;
  width: 100%;
  padding-right: 10px;
  margin-bottom: 15px; }
  .wcsdm-map-wrapper .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 32px;
    outline: none;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .wcsdm-map-wrapper .wcsdm-map-canvas {
    position: relative;
    height: 340px; }
  .wcsdm-map-wrapper .wcsdm-map-search {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
    max-width: 100%;
    margin-top: 10px !important; }
    .wcsdm-map-wrapper .wcsdm-map-search:focus {
      border-color: #4d90fe; }

#wcsdm-map-error {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  #wcsdm-map-error.notice {
    margin-left: 0; }

#wcsdm-map-spinner {
  visibility: visible; }

#wcsdm-lat-lng-wrap {
  display: none;
  width: 100%;
  padding-right: 10px; }
  #wcsdm-lat-lng-wrap div {
    width: 50%; }
    #wcsdm-lat-lng-wrap div:first-child {
      float: left;
      padding-right: 10px; }
    #wcsdm-lat-lng-wrap div:last-child {
      margin-left: 50%;
      padding-left: 10px; }
    #wcsdm-lat-lng-wrap div label {
      display: block; }
    #wcsdm-lat-lng-wrap div input {
      display: block;
      width: 100%; }
  @media only screen and (max-width: 1070px) {
    #wcsdm-lat-lng-wrap div {
      width: 100%; }
      #wcsdm-lat-lng-wrap div:first-child {
        float: none;
        padding-right: 0; }
      #wcsdm-lat-lng-wrap div:last-child {
        margin-left: 0;
        padding-left: 0; } }

.pac-container {
  z-index: 999999 !important; }
  .pac-container #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px; }
  .pac-container #type-selector label {
    font-size: 13px;
    font-weight: 300; }
  .pac-container #target {
    width: 345px; }

.wcsdm-table-row .wcsdm-table-col {
  padding: 0 !important; }

.wcsdm-table-row.wcsdm-table-row-advanced {
  display: none; }

.wcsdm-table-row .wcsdm-table * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wcsdm-table-row .wcsdm-table input[type="text"],
.wcsdm-table-row .wcsdm-table input[type="number"] {
  min-width: 60px !important;
  max-width: 100% !important;
  border: 1px solid #ddd !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  height: 34px;
  line-height: 34px !important; }
  .wcsdm-table-row .wcsdm-table input[type="text"]:-moz-read-only,
  .wcsdm-table-row .wcsdm-table input[type="number"]:-moz-read-only {
    cursor: not-allowed; }
  .wcsdm-table-row .wcsdm-table input[type="text"]:read-only,
  .wcsdm-table-row .wcsdm-table input[type="number"]:read-only {
    cursor: not-allowed; }

.wcsdm-table-row .wcsdm-table .full-width-col {
  background: #f1f1f1; }

.wcsdm-table-row .wcsdm-table .select {
  min-width: 130px !important;
  height: 36px !important;
  line-height: 36px !important; }

.wcsdm-table-row .wcsdm-table .button {
  float: none !important; }

.wcsdm-table-row .wcsdm-table .button-no-rates {
  font-size: 2em;
  padding: 10px 50px;
  height: auto; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates .col-centered {
  text-align: center; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates .col-checkbox {
  padding: 0;
  width: 136px;
  text-align: center; }
  .wcsdm-table-row .wcsdm-table.wcsdm-table-rates .col-checkbox div {
    padding: 8px 8px !important;
    text-align: center !important; }
  .wcsdm-table-row .wcsdm-table.wcsdm-table-rates .col-checkbox input {
    margin: 0 !important;
    padding: 0 !important; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates .col-advanced {
  padding: 0;
  width: 112px;
  text-align: center; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr td,
.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr th {
  background-color: #ffffff;
  -webkit-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.selected td,
.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.selected th {
  background-color: #fefbcc; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.applied td,
.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.applied th {
  background-color: #ccf9ff !important; }
  .wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.applied td .advanced-rate-settings,
  .wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.applied th .advanced-rate-settings {
    display: none; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.changed.sorting td,
.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody tr.changed.sorting th {
  background-color: #d2ffd4 !important; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody td {
  text-align: center; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody input[type="text"],
.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody input[type="number"] {
  width: 100% !important; }

.wcsdm-table-row .wcsdm-table.wcsdm-table-rates tbody .select {
  width: 100% !important; }

[class^="tooltip"] {
  position: relative; }
  [class^="tooltip"]:before {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    bottom: 1.4em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
            transform: translateX(-50%) translateY(-2px);
    background: grey;
    color: white;
    z-index: 2;
    border-radius: 2px;
    width: 200px; }
  [class^="tooltip"]:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0); }
  [class^="tooltip"]:after {
    content: "\f223";
    display: inline;
    font-size: 16px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0; }
