.wcsdm-no-padding {
  padding: 0 !important; }

.wcsdm-settings-sub-title {
  text-align: center;
  padding: 0.7em !important;
  margin: 0 !important;
  background-color: #fff; }

.wcsdm-table-dummy .wcsdm-col {
  padding: 10px !important; }
  .wcsdm-table-dummy .wcsdm-col--select-item {
    width: 30px; }
    .wcsdm-table-dummy .wcsdm-col--select-item input[type=checkbox] {
      margin: 0;
      padding: 0; }
  .wcsdm-table-dummy .wcsdm-col--advanced_link {
    width: 65px;
    text-align: center; }
    .wcsdm-table-dummy .wcsdm-col--advanced_link a {
      text-decoration: none; }

.wcsdm-table-dummy thead .wcsdm-col {
  background-color: #f1f1f1; }
  .wcsdm-table-dummy thead .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #fff; }

.wcsdm-table-dummy tbody .wcsdm-col {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col:first-child {
    border-left: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col:last-child {
    border-right: 1px solid #f1f1f1; }

.wcsdm-row-advanced {
  display: none; }
  .wcsdm-row-advanced .wc-settings-sub-title {
    padding: 0.5em 1em;
    background-color: #f1f1f1; }
