.wcsdm-no-padding {
  padding: 0 !important; }

.wcsdm-settings-form-title {
  text-align: center;
  padding: 0.7em !important;
  margin: 0 !important;
  background-color: #fff; }

.wcsdm-settings-sub-title {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0;
  background-color: #f1f1f1; }

.wcsdm-table-dummy .wcsdm-col {
  padding: 10px !important; }
  .wcsdm-table-dummy .wcsdm-col--select-item {
    width: 50px;
    text-align: center; }
    .wcsdm-table-dummy .wcsdm-col--select-item input[type=checkbox] {
      margin: 0;
      padding: 0; }
  .wcsdm-table-dummy .wcsdm-col--link_duplicate, .wcsdm-table-dummy .wcsdm-col--link_advanced {
    width: 70px;
    text-align: center; }
    .wcsdm-table-dummy .wcsdm-col--link_duplicate a, .wcsdm-table-dummy .wcsdm-col--link_advanced a {
      text-decoration: none; }

.wcsdm-table-dummy thead .wcsdm-col {
  background-color: #f1f1f1; }
  .wcsdm-table-dummy thead .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #fff; }

.wcsdm-table-dummy tbody .wcsdm-col {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col:first-child {
    border-left: 1px solid #f1f1f1; }
  .wcsdm-table-dummy tbody .wcsdm-col:last-child {
    border-right: 1px solid #f1f1f1; }

.wcsdm-table-dummy tbody .selected .wcsdm-col {
  background-color: #fffddb; }

.wcsdm-table-dummy tbody .applied .wcsdm-col {
  background-color: #d7fbd5; }

.wcsdm-table-dummy tbody .new .wcsdm-col {
  background-color: #d7fbd5; }

.wcsdm-table-dummy tbody .modified .wcsdm-col {
  background-color: #d7fbd5; }

.wcsdm-table-dummy tbody .deleted .wcsdm-col {
  background-color: #ffe6e6; }

.wcsdm-table-dummy tbody .hidden {
  display: none; }

.wcsdm-rate-field-errors {
  margin-bottom: 2em; }

.wcsdm-rate-field--error {
  border: 1px solid #dc3232 !important;
  background-color: rgba(255, 85, 85, 0.192) !important; }

.wcsdm-rate-field--dummy:not(a) {
  display: block;
  width: 100% !important;
  min-width: 150px !important; }

.wcsdm-row-advanced {
  display: none; }

.wcsdm-buttons-item--left {
  float: left; }

.wcsdm-buttons-item .dashicons {
  margin-top: 5px; }
  .wcsdm-buttons-item .dashicons:before {
    font-size: 1em; }
