.wcsdm-map-wrapper {
  position: relative;
  width: 100%;
  padding-right: 10px; }
  .wcsdm-map-wrapper .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 32px;
    outline: none;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .wcsdm-map-wrapper .wcsdm-map-canvas {
    position: relative;
    height: 360px; }
  .wcsdm-map-wrapper .wcsdm-map-search {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
    max-width: 100%;
    margin-top: 10px !important; }
    .wcsdm-map-wrapper .wcsdm-map-search:focus {
      border-color: #4d90fe; }

#wcsdm-lat-lng-wrap {
  width: 100%;
  padding-right: 10px; }
  #wcsdm-lat-lng-wrap div {
    width: 50%; }
    #wcsdm-lat-lng-wrap div:first-child {
      float: left;
      padding-right: 10px; }
    #wcsdm-lat-lng-wrap div:last-child {
      margin-left: 50%;
      padding-left: 10px; }
    #wcsdm-lat-lng-wrap div label {
      display: block; }
    #wcsdm-lat-lng-wrap div input {
      display: block;
      width: 100%; }
  @media only screen and (max-width: 1070px) {
    #wcsdm-lat-lng-wrap div {
      width: 100%; }
      #wcsdm-lat-lng-wrap div:first-child {
        float: none;
        padding-right: 0; }
      #wcsdm-lat-lng-wrap div:last-child {
        margin-left: 0;
        padding-left: 0; } }

.pac-container {
  z-index: 999999 !important; }
  .pac-container #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px; }
  .pac-container #type-selector label {
    font-size: 13px;
    font-weight: 300; }
  .pac-container #target {
    width: 345px; }

#wcsdm-table-rates *,
#wcsdm-table-advanced * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#wcsdm-table-rates thead td,
#wcsdm-table-rates thead th,
#wcsdm-table-rates tfoot td,
#wcsdm-table-rates tfoot th,
#wcsdm-table-advanced thead td,
#wcsdm-table-advanced thead th,
#wcsdm-table-advanced tfoot td,
#wcsdm-table-advanced tfoot th {
  text-align: center; }

#wcsdm-table-rates thead .font-bold td,
#wcsdm-table-rates thead .font-bold th,
#wcsdm-table-rates tfoot .font-bold td,
#wcsdm-table-rates tfoot .font-bold th,
#wcsdm-table-advanced thead .font-bold td,
#wcsdm-table-advanced thead .font-bold th,
#wcsdm-table-advanced tfoot .font-bold td,
#wcsdm-table-advanced tfoot .font-bold th {
  font-weight: bold; }

#wcsdm-table-rates thead td,
#wcsdm-table-rates tfoot th,
#wcsdm-table-rates tfoot td,
#wcsdm-table-advanced thead td,
#wcsdm-table-advanced tfoot th,
#wcsdm-table-advanced tfoot td {
  text-align: center; }

#wcsdm-table-rates tbody tr.selected td,
#wcsdm-table-rates tbody tr.selected th,
#wcsdm-table-advanced tbody tr.selected td,
#wcsdm-table-advanced tbody tr.selected th {
  background-color: #fefbcc; }

#wcsdm-table-rates tbody input[type="text"],
#wcsdm-table-rates tbody input[type="number"],
#wcsdm-table-advanced tbody input[type="text"],
#wcsdm-table-advanced tbody input[type="number"] {
  min-width: 60px !important;
  max-width: 100% !important;
  width: 100% !important;
  border: 1px solid #ddd !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: 50ms border-color ease-in-out;
  transition: 50ms border-color ease-in-out;
  height: 34px;
  line-height: 34px !important; }
  #wcsdm-table-rates tbody input[type="text"]:-moz-read-only,
  #wcsdm-table-rates tbody input[type="number"]:-moz-read-only,
  #wcsdm-table-advanced tbody input[type="text"]:-moz-read-only,
  #wcsdm-table-advanced tbody input[type="number"]:-moz-read-only {
    cursor: not-allowed; }
  #wcsdm-table-rates tbody input[type="text"]:read-only,
  #wcsdm-table-rates tbody input[type="number"]:read-only,
  #wcsdm-table-advanced tbody input[type="text"]:read-only,
  #wcsdm-table-advanced tbody input[type="number"]:read-only {
    cursor: not-allowed; }

#wcsdm-table-rates tbody select.cost-type,
#wcsdm-table-advanced tbody select.cost-type {
  min-width: 130px !important;
  width: 100% !important;
  height: 36px !important;
  line-height: 36px !important; }

#wcsdm-table-rates tbody td,
#wcsdm-table-advanced tbody td {
  text-align: center; }

#wcsdm-table-rates tbody .dashicons-lock,
#wcsdm-table-advanced tbody .dashicons-lock {
  cursor: not-allowed;
  color: #c4c4c4; }

#wcsdm-table-rates .col-checkbox,
#wcsdm-table-advanced .col-checkbox {
  padding: 0;
  width: 122px; }
  #wcsdm-table-rates .col-checkbox div,
  #wcsdm-table-advanced .col-checkbox div {
    padding: 8px 8px !important;
    text-align: center !important; }
  #wcsdm-table-rates .col-checkbox input,
  #wcsdm-table-advanced .col-checkbox input {
    margin: 0 !important;
    padding: 0 !important; }

#wcsdm-table-rates .col-advanced,
#wcsdm-table-advanced .col-advanced {
  padding: 0;
  width: 122px; }

#wcsdm-table-rates .button,
#wcsdm-table-advanced .button {
  float: none !important; }

#wcsdm-table-rates .field-groups,
#wcsdm-table-advanced .field-groups {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #wcsdm-table-rates .field-groups *,
  #wcsdm-table-advanced .field-groups * {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #wcsdm-table-rates .field-groups .field-group-item,
  #wcsdm-table-advanced .field-groups .field-group-item {
    float: left; }
    #wcsdm-table-rates .field-groups .field-group-item.field-group-item-input,
    #wcsdm-table-advanced .field-groups .field-group-item.field-group-item-input {
      width: 100%; }
    #wcsdm-table-rates .field-groups .field-group-item.field-group-item-units,
    #wcsdm-table-advanced .field-groups .field-group-item.field-group-item-units {
      width: 46px;
      text-align: center;
      line-height: 32px;
      background: #eee;
      border: 1px solid #ddd; }
    #wcsdm-table-rates .field-groups .field-group-item.field-group-item-icon,
    #wcsdm-table-advanced .field-groups .field-group-item.field-group-item-icon {
      width: 30px;
      text-align: center;
      padding-top: 7px; }
  #wcsdm-table-rates .field-groups[class*="has-"] .field-group-item-input,
  #wcsdm-table-advanced .field-groups[class*="has-"] .field-group-item-input {
    width: calc(100% - 76px); }
  #wcsdm-table-rates .field-groups.has-units:not(.has-icon) .field-group-item-input,
  #wcsdm-table-advanced .field-groups.has-units:not(.has-icon) .field-group-item-input {
    width: calc(100% - 46px); }
  #wcsdm-table-rates .field-groups.has-icon:not(.has-units) .field-group-item-input,
  #wcsdm-table-advanced .field-groups.has-icon:not(.has-units) .field-group-item-input {
    width: calc(100% - 30px); }
  #wcsdm-table-rates .field-groups:after,
  #wcsdm-table-advanced .field-groups:after {
    content: "";
    display: block;
    clear: both; }

#wcsdm-table-rates .field-group,
#wcsdm-table-advanced .field-group {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #wcsdm-table-rates .field-group *,
  #wcsdm-table-advanced .field-group * {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #wcsdm-table-rates .field-group > div,
  #wcsdm-table-advanced .field-group > div {
    display: table-cell;
    border: 1px solid #ddd;
    vertical-align: middle;
    /* needed for Safari */ }
  #wcsdm-table-rates .field-group .field-group-units,
  #wcsdm-table-advanced .field-group .field-group-units {
    background: #eee;
    color: #777;
    padding: 0 8px;
    min-width: 46px;
    text-align: center; }
  #wcsdm-table-rates .field-group .field-group-input,
  #wcsdm-table-advanced .field-group .field-group-input {
    width: 100%; }
    #wcsdm-table-rates .field-group .field-group-input input,
    #wcsdm-table-advanced .field-group .field-group-input input {
      border: 0;
      display: block;
      width: 100%; }

#wcsdm-table-rates .descriptions,
#wcsdm-table-advanced .descriptions {
  font-size: 12px;
  font-style: italic;
  line-height: 12px; }

[class^="tooltip"] {
  position: relative; }
  [class^="tooltip"]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    bottom: 1.4em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
            transform: translateX(-50%) translateY(-2px);
    background: grey;
    color: white;
    z-index: 2;
    border-radius: 2px;
    width: 200px; }
  [class^="tooltip"]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0); }
  [class^="tooltip"]:before {
    content: "\f223";
    display: inline;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0; }
