#rates-list-table thead th,
#rates-list-table thead td {
  text-align: center;
  font-weight: bold; }

#rates-list-table tbody input[type="text"],
#rates-list-table tbody input[type="number"] {
  min-width: 90px !important;
  max-width: 100% !important;
  width: 100% !important;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  transition: 50ms border-color ease-in-out;
  height: 35px; }

#rates-list-table tbody .selected td,
#rates-list-table tbody .selected th {
  background-color: #fefbcc; }

#rates-list-table .button {
  float: none !important; }

#rates-list-table .col-select {
  padding: 8px 16px !important;
  text-align: center !important;
  width: 144px; }
  #rates-list-table .col-select input {
    margin: 0 !important;
    padding: 0 !important; }

#rates-list-table .input-group-distance input[type="number"] {
  width: calc(100% - 43px) !important; }

#rates-list-table .input-group-distance.metric:after {
  content: "KM";
  border: 1px solid rgba(221, 221, 221, 0.9);
  background-color: rgba(221, 221, 221, 0.6);
  border-left-width: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 8px 9px;
  height: 28px;
  line-height: 1; }

#rates-list-table .input-group-distance.imperial:after {
  content: "MI";
  border: 1px solid rgba(221, 221, 221, 0.9);
  background-color: rgba(221, 221, 221, 0.6);
  border-left-width: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 8px 9px;
  height: 28px;
  line-height: 1; }

#rates-list-table .input-group-price input[type="text"] {
  width: calc(100% - 43px) !important; }

#rates-list-table .input-group-price:before {
  content: "$";
  border: 1px solid rgba(221, 221, 221, 0.9);
  background-color: rgba(221, 221, 221, 0.6);
  border-right-width: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 8px 9px;
  height: 28px;
  line-height: 1; }

#rates-list-table .input-group-price.metric input[type="text"] {
  width: calc(100% - 86px) !important; }

#rates-list-table .input-group-price.metric:after {
  content: " / KM";
  border: 1px solid rgba(221, 221, 221, 0.9);
  background-color: rgba(221, 221, 221, 0.6);
  border-left-width: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 8px 9px;
  height: 28px;
  line-height: 1; }

#rates-list-table .input-group-price.imperial input[type="text"] {
  width: calc(100% - 86px) !important; }

#rates-list-table .input-group-price.imperial:after {
  content: " / MI";
  border: 1px solid rgba(221, 221, 221, 0.9);
  background-color: rgba(221, 221, 221, 0.6);
  border-left-width: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 8px 9px;
  height: 28px;
  line-height: 1; }

.wcsdm-map-wrapper {
  position: relative; }
  .wcsdm-map-wrapper .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .wcsdm-map-wrapper .wcsdm-map-canvas {
    position: relative;
    height: 320px;
    max-width: 100%; }
  .wcsdm-map-wrapper .wcsdm-map-search {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
    max-width: 100%;
    margin-top: 10px !important; }
    .wcsdm-map-wrapper .wcsdm-map-search:focus {
      border-color: #4d90fe; }

.pac-container {
  z-index: 999999 !important; }
  .pac-container #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px; }
  .pac-container #type-selector label {
    font-size: 13px;
    font-weight: 300; }
  .pac-container #target {
    width: 345px; }
