/* Begin Import */
/*
* http://chir.ag/projects/name-that-color/
*/
/* End Import */
/* Begin Stylings */
.wcsdm-no-padding {
  padding: 0 !important; }

.wcsdm-settings-form-title {
  text-align: center;
  padding: 0.7em !important;
  margin: 0 !important;
  background-color: #ffffff; }

.wcsdm-settings-sub-title {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0;
  background-color: #f8f8f8; }

.wcsdm-buttons-item--left {
  float: left; }

.wcsdm-buttons-item .dashicons {
  margin-top: 5px; }
  .wcsdm-buttons-item .dashicons:before {
    font-size: 1em; }

.wcsdm-errors {
  margin-bottom: 2em; }
  .wcsdm-errors--heading {
    font-weight: 700;
    font-size: 1.2em;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 8px;
    padding-bottom: 8px; }

.wcsdm-table-dummy .wcsdm-col {
  padding: 10px !important; }
  .wcsdm-table-dummy .wcsdm-col--select-item {
    width: 50px;
    text-align: center; }
    .wcsdm-table-dummy .wcsdm-col--select-item input[type=checkbox] {
      margin: 0;
      padding: 0; }
  .wcsdm-table-dummy .wcsdm-col--link_advanced {
    width: 100px;
    text-align: center; }
    .wcsdm-table-dummy .wcsdm-col--link_advanced a {
      text-decoration: none; }

.wcsdm-table-dummy thead .wcsdm-col {
  background-color: #f1f1f1; }
  .wcsdm-table-dummy thead .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #ffffff; }

.wcsdm-table-dummy tbody tr .wcsdm-col {
  background-color: #ffffff;
  border-bottom: 1px solid #f8f8f8; }
  .wcsdm-table-dummy tbody tr .wcsdm-col + .wcsdm-col {
    border-left: 1px solid #f8f8f8; }
  .wcsdm-table-dummy tbody tr .wcsdm-col:first-child {
    border-left: 1px solid #f8f8f8; }
  .wcsdm-table-dummy tbody tr .wcsdm-col:last-child {
    border-right: 1px solid #f8f8f8; }
  .wcsdm-table-dummy tbody tr .wcsdm-col.hidden {
    display: none; }

.wcsdm-table-dummy tbody tr.selected .wcsdm-col {
  background-color: rgba(175, 206, 255, 0.5); }

.wcsdm-table-dummy tbody tr.highlighted .wcsdm-col {
  background-color: rgba(230, 255, 219, 0.5); }

.wcsdm-table-dummy tbody tr.deleted .wcsdm-col {
  background-color: rgba(255, 254, 196, 0.5); }

.wcsdm-field--rate--error {
  border: 1px solid #dc3232 !important;
  background-color: rgba(220, 50, 50, 0.1) !important; }

.wcsdm-field--rate--dummy:not(a) {
  display: block;
  width: 100% !important;
  min-width: 150px !important; }

.wcsdm-row-advanced {
  display: none; }
